<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>black</key>
	<string>#000000</string>
	<key>white</key>
	<string>#ffffff</string>
	<key>gray</key>
	<string>#999999</string>
	<key>red</key>
	<string>#ce0d10</string>
	<key>blue</key>
	<string>#3598db</string>
	<key>green</key>
	<string>#27ae60</string>
	<key>theme</key>
	<string>#ce0d10</string>
	<key>navigationTextColor</key>
	<string>#ce0d10</string>
	<key>navigationBgColor</key>
	<string>#ffffff</string>
	<key>navigationTintColor</key>
	<string>#999999</string>
</dict>
</plist>
