<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Black</key>
	<string>#000000</string>
	<key>White</key>
	<string>#ffffff</string>
	<key>Gray</key>
	<string>#999999</string>
	<key>Red</key>
	<string>#ce0d10</string>
	<key>Blue</key>
	<string>#3598db</string>
	<key>Green</key>
	<string>#27ae60</string>
	<key>Theme</key>
	<string>#ce0d10</string>
	<key>NavigationTextColor</key>
	<string>#ce0d10</string>
	<key>NavigationBgColor</key>
	<string>#ffffff</string>
	<key>NavigationTintColor</key>
	<string>#999999</string>
</dict>
</plist>
