<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XXSmall</key>
	<real>11</real>
	<key>XSmall</key>
	<real>13</real>
	<key>Small</key>
	<real>16</real>
	<key>Medium</key>
	<real>20</real>
	<key>Large</key>
	<real>24</real>
	<key>XLarge</key>
	<real>32</real>
	<key>XXLarge</key>
	<real>55</real>
</dict>
</plist>
